appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
coverage==4.1
coveralls==1.1
decorator==4.0.10
dj-database-url==0.4.1
Django==1.9.8
django-toolbelt==0.0.1
docopt==0.6.2
flake8==3.0.4
gnureadline==6.3.3
gunicorn==19.6.0
ipython==4.2.0
ipython-genutils==0.1.0
mccabe==0.5.2
pexpect==4.1.0
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
pycodestyle==2.0.0
pyflakes==1.2.3
python-env==1.0.0
requests==2.10.0
simplegeneric==0.8.1
static3==0.7.0
traitlets==4.2.1
whitenoise==3.2
